* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    max-width: 1170px;
    margin: 0 auto;
    min-height: 100vh;
}

/* header section */
.header-container {
    margin-top: 52px;
}

/* nav section */
.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 40px;
}

nav li a {
    color: #424247;
    font-size: 20px;
}

nav li a:hover {
    font-weight: 700;
    transition: .6s;
}

nav .menu-btn {
    color: #131313;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

/* banner section */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    width: 1170px;
    background-size: cover;
    border-radius: 16px;
    margin-top: 48px;
}

.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 106px;
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    width: 676px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}

.banner-choose {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
    width: 800px;
    height: 84px;
    margin: 48px auto;
    align-items: center;
}

.where-go {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
    border: none;
    padding-left: 15px;
}



.select-opt {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
    border: none;
    padding-left: 20px;
}

/* main section */
/* our popular tour section */
.popular-tour-container {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.tour-text-section {
    width: 577px;
    height: 550px;
}

.tour-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.tour-first-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.tour-ul-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.tour-ul-description ol li {
    padding-bottom: 15px;
}

.tour-second-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.tour-image {
    width: 540px;
    height: 550px;
    border-radius: 16px;
}

/* Choose your destination */

.destination-container {
    margin-top: 100px;
}

.primary-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.primary-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    width: 840px;
    margin: 30px auto;
}

.destination-image {
    position: relative;
    text-align: center;
    color: white;
}

.destination-image-text {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 28px;
}

.destination-photo-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* why choose us section */

.why-choose-container {
    margin-top: 100px;
}

.choose-first-box {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 2px solid rgba(216, 121, 12, 0.495);
    background: rgba(227, 121, 8, 0.072);
    padding: 35px;
    margin-top: 50px;
}

.box-image {
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
}

.box-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.box-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
    font-weight: 400;
}

.choose-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chose-last-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* our best services */

.service-container {
    margin-top: 100px;
}



.service-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    width: 270px;
    /* height: 178px; */
}

.service-card-container {
    display: flex;
    justify-content: space-around;
}

.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 24px;
}

.card-description {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;

}

/* deals and discount section */

.discount-container {
    margin-top: 100px;
}

.discount-box {
    background-image: url(../Images/Group\ 39.png);
    margin: 40px 0;

    height: 500px;
}

.discount-badge {
    width: 579px;
    height: 300px;
    text-align: center;
    padding: 25px;
    position: relative;
    top: 100px;
    right: -45%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.badge-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;

}

.badge-description {
    color: #5a5a5d;
    font-size: 16px;
    font-weight: 400;
    margin: 14px auto;
}

.badge-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
}

.packages-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* A Simple Perfect Place To Get Lost */
.simple-perfect-container {
    margin-top: 110px;
}

.simple-perfect-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.tour-first-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 532px;
}

.tour-ul-description {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    width: 518px;
}

.tour-ul-description li {
    margin-bottom: 20px;
}

/* newsletter section  */

.newsletter-container {
    margin-top: 100px;
}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.newsletter-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.newsletter-sub-container {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-left: 30px;
    padding-top: 40px;
}

.newsletter-input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
    text-align: center;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
}

.news-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 34px;
}

.newsletter-content {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.ten-years-badge {
    background: #FF5400;
    border-radius: 16px;
    width: 324px;
    height: 120px;
    text-align: center;
    transform: rotate(-16.680deg);
    position: relative;
    bottom: 165px;
    right: -51%;
}

.badge-line-one {
    transform: rotate(-19.deg);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
}

.badge-line-two {
    transform: rotate(-19.deg);
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* footer */

.footer-container {
    margin-top: 100px;
}

.footer-content {
    width: 100dvw;
    height: 650px;
    background: rgba(19, 19, 24, 0.05);
    border: 3px solid red;
}

.footer-description {
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px auto;
}

.footer-social-section {
    display: flex;
    justify-content: center;
    margin: 32px auto;
    gap: 20px;

}

.footer-hori {
    width: 800px;
    height: 1.5px;
    background: rgba(19, 19, 24, 0.497);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px auto;
}

.footer-copy-right {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
}















/* mobile device */
@media screen and (max-width:576px) {
    nav ul {
        position: fixed;
        top: 80px;
        height: 100vh;
        width: 100%;
        display: block;
        right: -100%;
        transition: all 0.5s ease;
    }

    nav ul li {
        margin-top: 30px 0;

    }

    nav .menu-btn {
        display: block;
    }

    #click:checked~ul {
        left: 0%;
    }

    .logo-text img {
        width: 28px;
        height: 33px;
    }

    .logo {
        font-size: 21px;
        width: 120px;
    }


    /* our popular tours */
    .popular-tour-container {
        margin-top: 20px;
        flex-direction: column;
    }

    .tour-text-section {
        padding: 0 20px;
        width: 335px;

    }

    .tour-title {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 24px;
    }

    .tour-first-description {
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .tour-ul-description {
        width: 335px;
    }

    .tour-image {
        margin-top: 180px;
    }

    /* choose your destination */
    .destination-container {
        margin-top: 25px;
    }

    .primary-title {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
    }

    .primary-description {
        width: 309px;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 14px;
    }

    .destination-photo-section {
        flex-direction: column;
        gap: 8px;
    }

    /* why choose us section  */
    .why-choose-container {
        margin-top: 25px;
    }

    .choose-first-row {
        flex-direction: column;
    }

    .choose-first-box {
        width: 335px;
        height: 420px;
        border-radius: 16px;
        border: 2px solid rgba(216, 121, 12, 0.495);
        background: rgba(227, 121, 8, 0.072);
        padding: 35px;
        margin-top: 50px;
    }

    /* we offer best services */
    .service-container {
        margin-top: 25px;
    }

    .service-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    /* Deals & Discount section */
    .discount-container {
        margin-top: 25px;
    }

    .discount-badge {
        width: 303px;
        height: 370px;
        text-align: center;
        padding: 35px;
        position: relative;
        top: 100px;
        right: -10%;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
    }

    .badge-title {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin-top: 20px;

    }

    .badge-description {
        color: #5a5a5d;
        font-size: 14px;
        font-weight: 400;
        margin: 14px auto;
    }

    .badge-btn {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        margin-top: 16px;
    }

    /* A simple perfect place to get lost */
    .simple-perfect-container {
        margin-top: 25px;
    }

    .simple-perfect-content {
        flex-direction: column;
    }

    .tour-title {
        font-size: 20px;
        font-weight: 800;
    }

    /* newsletter section */
    .newsletter-container {
        margin-top: 25px;
    }

}